:root {
  --color-angular: #d4173b;
  --color-bootstrap: #712cf9;
  --color-css: #264de4;
  --color-html: #e34c26;
  --color-js: #f0db4f;
  --color-principal: #ff4b28;
  --color-secundario: #00acee;
}
html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: #1b1b1b;
}

/*-------------------------------------------------------------------------------------------------*/
/*------------------------------------VALORES EN COMUN REPETIDOS-----------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.content-aboutMe .acercaDe .contenedorTexto .titulo-about-me,
.content-experiencia .titulo-experiencia,
.content-educacion .titulo-educacion,
.content-educacion-complementaria .titulo-educacion-complementaria,
.content-hard-soft-skills .titulo-hard-soft,
.content-proyectos .titulo-proyectos {
  color: var(--color-principal);
  text-decoration: underline;
  text-align: center;
  font-size: 2.125rem;
  line-height: 2.125rem;
  margin-bottom: 2.5rem;
  font-weight: 300;
}

/* VALORES EN COMUN REPETIDOS PARA LAS SECCIONES*/
.content-aboutMe,
.content-experiencia,
.educacion,
.hard-soft-skills,
.proyectos {
  margin-bottom: 5rem;
}

/* VALORES EN COMUN REPETIDOS PARA LAS CARDS*/
.content-experiencia .card,
.content-educacion .card,
.content-educacion-complementaria .card {
  --bs-card-bg: #8585854b;
  color: #fff;
  transition: all 300ms;
  box-shadow: 25px 25px 20px -20px #000000;
}

.content-educacion .card-colapsable {
  box-shadow: 12.5px 12.5px 10px -10px #000000;
}

/* VALORES EN COMUN REPETIDOS PARA LAS CARDS:HOVER*/
.content-educacion-complementaria .card:hover {
  border: 1.5px solid #00acee;
  box-shadow: 0px 0px 12px -1px #00acee;
  transition: all 300ms;
  transform: scale(1.03);
}

/*estilos para las card-experiencia y cad-educacion-formal*/
.content-experiencia .card,
.content-educacion .card {
  width: 20rem;
}

/*-------------------------------------------------------------------------------------------------*/
/*----------------------------------------------HEADER---------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.container-fluid .logo {
  width: 8rem;
}
/* color del navbar */
.contenido-navbar {
  background-color: #011627;
  /* 011627 */
  /* 272838 */
  /* 1b2a41 */
}

/* tamaño iconos */
.menu .icon {
  font-size: 1.8rem;
}
.iconur {
  font-size: 1.7rem;
}

/* color, transicion y hover iconos */
.ig,
.gh,
.in,
.tw,
.ur {
  color: #f3f3f3;
  transition: all 300ms;
}
.ig:hover {
  color: #d6249f;
  transition: all 300ms;
}
.gh:hover {
  color: #464444;
  transition: all 300ms;
}
.in:hover {
  color: #0e76a8;
  transition: all 300ms;
}
.tw:hover {
  color: #00acee;
  transition: all 300ms;
}
.ur:hover {
  color: var(--color-secundario);
  transition: all 300ms;
}

/* estilos para el btn login */
.login-btn,
.login-btn:hover,
.login-btn:active,
.login-btn:link {
  border: none;
  border-radius: none;
  background: none;
  outline: none;
}

/* estilos para titulo y x ventana modal login */
.modal-header h5,
  /*equis para cerrar*/
  .modal-header .cerrar {
  font-size: 2rem;
}

/* estolos para el formulario */
.formulario label {
  color: #fff;
}
.formulario input::placeholder {
  color: rgba(255, 255, 255, 0.904);
}
.form-control {
  outline: none;
  border: 0.12rem solid var(--color-secundario);
  background-color: transparent;
}

.form-control:focus {
  color: #212529;
  background-color: rgba(179, 179, 179, 0.164);
  border-color: var(--color-secundario);
  outline: 0;
  box-shadow: 0px 0px 12px -1px var(--color-secundario);
}

/* estilos para el btn ingresar del modal */
.btn-ingresar {
  color: #fff;
  font-weight: 400;
  background: grey;
}
.btn-ingresar:hover {
  color: #fff;
  background-color: var(--color-secundario);
  box-shadow: 0px 0px 12px -1px var(--color-secundario);
}
/***************************************************************************************************/
/*********************************************FIN HEADER********************************************/
/***************************************************************************************************/

/*-------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------MAIN----------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.contenedorMain {
  overflow: hidden;
}

/* estilos para la imagen perfil */
.content-aboutMe .contenedor {
  overflow: visible;
}

.content-aboutMe .acercaDe .contenedorFoto {
  margin-top: -60px;
}

.contenedorFoto img {
  width: 7.1875rem;
  vertical-align: top;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.671);
}

/* estilos para el hero banner*/
.hero {
  background-image: url(../img/hero.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  background-attachment: fixed;
  animation: mover-img 10s timing-function delay iteration-count direction
    fill-mode;
}

.hero .contenedorTexto {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  margin: 11.875rem 0;
}

.hero .contenedorTexto .texto {
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: inline-block;
  border-radius: 0.1875rem;
  padding: 1.25rem 3.75rem;
}

.hero .contenedorTexto .texto h1,
.hero .contenedorTexto .texto h2 {
  color: #fff;
  font-weight: 300;
  margin: 0;
}

.hero .contenedorTexto .texto .Nombre {
  margin: 0.625rem;
  font-size: 3.125rem;
  line-height: 3.125rem;
}

.hero .contenedorTexto .texto .Profesion {
  font-size: 1.5625rem;
  line-height: 3.125rem;
}

/* estilos para el aboutme */
.content-aboutMe .acercaDe .contenedorTexto {
  color: #fff;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.875rem;
  text-align: center;
  width: 80%;
  margin: 2.5rem auto 0 auto;
}

.content-aboutMe .acercaDe .contenedorTexto .resaltar {
  color: var(--color-principal);
  text-decoration: underline;
}

.content-experiencia .card img {
  height: 15rem;
}

.content-experiencia .card .desde-hasta .desde-hasta-p {
  font-weight: bold;
}

/* estilos para el colapsable de estudios formales */
.content-educacion .card .colapsable .card-body {
  width: 18rem;
}

.content-educacion .card .colapsable {
  min-height: 120px;
}
.content-educacion .card .btn-colappse-horizontal {
  border: none;
  background-color: rgba(0, 0, 0, 0.473);
  transition: all 300ms;
}
.content-educacion .card .btn-colappse-horizontal:hover {
  background-color: #00acee;
  box-shadow: 0px 0px 5px #00acee, 0 0 20px #00acee, 0 0 40px #00acee;
}

/*estilos para las card-educacion-complementaria*/
.content-educacion-complementaria .card-cursos .descripcion-cursos a {
  text-decoration: underline;
}

/* hard y soft skills */

/* HARDSKILLS */
.content-hard-soft-skills .tec {
  transform: rotate(0deg);
  transition: all 300ms;
}

.content-hard-soft-skills .angular {
  color: var(--color-angular);
}
/* color de la barra */
.progress .angular {
  background-color: var(--color-angular);
}

.content-hard-soft-skills .bootstrap {
  color: var(--color-bootstrap);
}
/* color de la barra */
.progress .bootstrap {
  background-color: var(--color-bootstrap);
}

.content-hard-soft-skills .css {
  color: var(--color-css);
}
/* color de la barra */
.progress .css {
  background-color: var(--color-css);
}

.content-hard-soft-skills .html {
  color: var(--color-html);
}
/* color de la barra */
.progress .html {
  background-color: var(--color-html);
}

.content-hard-soft-skills .javascript {
  color: var(--color-js);
}
/* color de la barra */
.progress .javascript {
  background-color: var(--color-js);
}

.content-hard-soft-skills .tec:hover {
  transform: scale(1.5) rotate(20deg);
  transition: all 300ms;
}

.w-95 {
  width: 95%;
}

/* content-hard-soft-skills */
.content-hard-soft-skills .card-content-skilss .card {
  background-color: #00000027;
  box-shadow: 25px 25px 20px -20px #000000;
  color: #fff;
}

.card-content-skilss .progress {
  background-color: rgb(230, 230, 230);
}

hr {
  color: #00acee;
  box-shadow: 0px 0px 15px 5px #00acee;
}

/* SOFSKILLS */
.progress .gest-tiempo {
  background-color: #afe0ce;
}
.progress .comunicacion {
  background-color: #d7b8f3;
}
.progress .trab-grupo {
  background-color: #5c80bc;
}
.progress .cap-res {
  background-color: #ffc145;
}
.progress .cratividad {
  background-color: #104547;
}

/* SECCION PROYECTOS */

.content-proyectos .bg-amarillo {
  background-color: #f4e8c1;
}
.content-proyectos .bg-opal {
  background-color: #a0c1b9;
}

.content-proyectos .bg-naranja {
  background-color: #33737a;
}

.content-proyectos .bg-celeste {
  background-color: #0b3b49;
}

.content-proyectos .bg-azul {
  background-color: #8aa79f;
}

.content-proyectos .bg-rojo {
  background-color: #15616d;
}

.content-proyectos .bg-gris {
  background-color: #001524;
}

/***************************************************************************************************/
/**********************************************FIN MAIN*********************************************/
/***************************************************************************************************/

.btn-cv {
  padding: 0;
  border: none;
  position: fixed;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #0b3b49;
  box-shadow: 6px 6px 10px 1px #000000;
  transition: all 500ms;
  bottom: -3rem;
  right: 1rem;
}
.ocultar {
  bottom: 10rem;
  right: 1rem;
}
.btn-cv:hover {
  background-color: #0b263b;
  transform: scale(1.05);
  box-shadow: 0px 0px 5px #00acee, 0 0 20px #00acee, 0 0 40px #00acee;
}

.btn-cv i {
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
  font-size: 1.3rem;
}

/*-------------------------------------------------------------------------------------------------*/
/*----------------------------------------------FOOTER---------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.vh-20 {
  height: 20vh;
}
/***************************************************************************************************/
/*********************************************FIN FOOTER********************************************/
/***************************************************************************************************/

.card-footer {
  border-top: none;
  background: none;
}
