<app-header></app-header>
<div class="content">
  <div class="text-center" *ngIf="isLogged; else loggedOut">
    <h2>Ya has iniciado sesion</h2>
  </div>

  <ng-template #loggedOut>
    <div class="container">
      <div class="row w-100 vh-100 align-items-strech">
        <div
          class="col col-md-5 col-lg-5 col-xl-6 login d-none d-lg-block"
        ></div>

        <div class="col d-flex flex-column justify-content-center">
          <h2 class="text-center my-4">Iniciar session</h2>

          <!-- #f="ngForm" -->
          <form
            novalidate
            (ngSubmit)="onLogin()"
            id="formLogin"
            [formGroup]="formLogin"
          >
            <div class="form-group mb-3">
              <label for="nombreUsuario">Usuario</label>
              <input
                class="form-control"
                type="text"
                name="nombreUsuario"
                id="nombreUsuario"
                [(ngModel)]="nombreUsuario"
                formControlName="nombreUsuario"
                required
              />

              <!--------------------------->
              <!------MENSAJE DE ERROR----->
              <!--------------------------->
              <div
                *ngIf="
                  formLogin.controls['nombreUsuario'].invalid &&
                  formLogin.controls['nombreUsuario'].touched
                "
              >
                <div
                  *ngIf="formLogin.controls['nombreUsuario'].errors?.['required']"
                >
                  <p class="msjValid">Campo obligatorio</p>
                </div>
                <div
                  *ngIf="formLogin.controls['nombreUsuario'].errors?.['pattern']"
                >
                  <p class="msjValid">Ingrese un nombre de usuario correcto</p>
                </div>
              </div>
            </div>

            <div class="formgroup mb-3">
              <label for="contrasenia">Contraseña</label>
              <input
                class="form-control"
                type="password"
                name="contrasenia"
                id="contrasenia"
                [(ngModel)]="contrasenia"
                formControlName="contrasenia"
                placeholder="*********"
                required
              />

              <div
                *ngIf="
                  formLogin.controls['contrasenia'].invalid &&
                  formLogin.controls['contrasenia'].touched
                "
              >
                <p
                  class="msjValid"
                  *ngIf="formLogin.controls['contrasenia'].errors?.['required']"
                >
                  Campo obligatorio
                </p>

                <p
                  class="msjValid"
                  *ngIf="formLogin.controls['contrasenia'].errors?.['minlength']"
                >
                  Contraseña incorrecta
                </p>
              </div>
            </div>

            <div class="formgroup mb-3">
              <!-- [disabled]="!f.valid" -->
              <button class="btn">Iniciar sesion</button>
            </div>
          </form>
          <!-- <div
            class="alert alert-danger mt-3"
            *ngIf="f.submitted && isLoginFail"
          >
            Error en el login: {{ errMsj }}
          </div> -->
        </div>
      </div>
    </div>
  </ng-template>
</div>
