.cursos {
  background-image: url(../../assets/img/datos.jpg);
  background-position: center center;
}

.container {
  color: #fff;
  width: 85%;
  border-radius: 0.25rem;
  /* background-color: rgba(178, 53, 206, 0.116); */
  background-color: rgba(0, 172, 238, 0.116);
}
/* .form-control {
        background-color: transparent;
      }
      .form-control {
        outline: none;
        border: 0.12rem solid rgb(178, 53, 206);
        background-color: transparent;
        color: #ffff;
      }
      
      .form-control:focus {
        color: #fff;
        background-color: rgba(179, 179, 179, 0.164);
        border-color: 0px 0px 12px -1px rgb(178, 53, 206);
        outline: 0;
        box-shadow: 0px 0px 12px -1px rgb(178, 53, 206);
      } */
.form-control {
  outline: none;
  border: 0.12rem solid var(--color-secundario);
  background-color: transparent;
  color: #ffff;
}
.form-control:focus {
  color: #fff;
  background-color: rgba(179, 179, 179, 0.164);
  border-color: var(--color-secundario);
  outline: 0;
  box-shadow: 0px 0px 12px -1px var(--color-secundario);
}

/* .btn {
        color: #fff;
        border: 1px solid rgb(178, 53, 206);
      }
      
      .btn:hover {
        color: #fff;
        background-color: rgb(178, 53, 206);
        box-shadow: 0px 0px 12px -1px rgb(178, 53, 206);
      } */
.btn {
  color: #fff;
  border: 1px solid rgb(0, 172, 238);
}

.btn:hover {
  color: #fff;
  background-color: rgb(0, 172, 238);
  box-shadow: 0px 0px 12px -1px rgb(0, 172, 238);
}
