<!-- ====================================================== -->
<app-header></app-header>
<div class="container" *ngIf="curso">
  <div class="row align-items-strech" *ngIf="isLogged; else loggedOut">
    <div
      class="col col-md-5 col-lg-5 col-xl-6 bg-datosPersonales d-none d-lg-block"
    ></div>

    <div class="col">
      <h2 class="text-center my-4">Cursos</h2>

      <form (ngSubmit)="onUpdateCur()" novalidate #f="ngForm">
        <div class="mb-3 form-group">
          <label class="text-light" for="nombre ">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            name="nombre"
            [(ngModel)]="curso.nombreCurso"
          />
        </div>
        <div class="mb-3 form-group">
          <label class="text-light" for="descripcion ">Descripcion</label>
          <textarea
            class="form-control"
            id="descripcion"
            name="descripcion"
            [(ngModel)]="curso.descripcionCurso"
            required
            cols="30"
            rows="10"
          ></textarea>
        </div>
        <div class="mb-3 form-group">
          <label class="text-light" for="link ">Link</label>
          <input
            type="text"
            class="form-control"
            id="link"
            name="link"
            [(ngModel)]="curso.link"
            required
          />
        </div>
        <div class="mb-3 form-group">
          <label class="text-light" for="imgCurso ">Imagen</label>
          <input
            type="text"
            class="form-control"
            id="imgCurso"
            name="imgCurso"
            [(ngModel)]="curso.imgCurso"
            required
          />
        </div>

        <div class="mb-3 form-group">
          <button
            class="btn btn-outline-success btn-block"
            [disabled]="!f.valid"
          >
            Actualizar
          </button>
          <button
            class="btn btn-outline-success mx-3 btn-block"
            routerLink="/dashboard"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<ng-template #loggedOut>
  <h1 class="text-center text-light">Debes iniciar sesion</h1>
</ng-template>
