<!-- ====================================================== -->
<app-header></app-header>
<div class="container" *ngIf="habilidadD">
  <div class="row align-items-strech" *ngIf="isLogged; else loggedOut">
    <div class="col col-md-5 col-lg-5 col-xl-6 editHd d-none d-lg-block"></div>

    <div class="col">
      <h2 class="text-center my-4">Habilidades Duras</h2>

      <form (ngSubmit)="onUpdateHabilidadDura()" novalidate #f="ngForm">
        <div class="mb-3 form-group">
          <label class="text-light" for="tec ">Tecnologia</label>
          <input
            type="text"
            class="form-control"
            id="tec"
            name="tec"
            [(ngModel)]="habilidadD.nombreTecnologia"
            required
          />
        </div>

        <div class="mb-3 form-group">
          <label class="text-light" for="icono">Icono tecnologia</label>
          <input
            type="text"
            class="form-control"
            id="icono"
            name="icono"
            [(ngModel)]="habilidadD.iconoTecnologia"
          />
        </div>

        <div class="mb-3 form-group">
          <label class="text-light" for="porcentajeTec">Porcentaje</label>
          <input
            type="number"
            class="form-control"
            id="porcentajeTec"
            name="porcentajeTec"
            [(ngModel)]="habilidadD.porcentaje"
            required
          />
        </div>

        <div class="mb-3 form-group">
          <label class="text-light" for="color">Color icono</label>
          <input
            type="text"
            class="form-control"
            id="color"
            name="color"
            [(ngModel)]="habilidadD.colorIcono"
            required
          />
        </div>
        <div class="mb-3 form-group">
          <label class="text-light" for="barra">Color barra</label>
          <input
            type="text"
            class="form-control"
            id="barra"
            name="barra"
            [(ngModel)]="habilidadD.colorBarra"
            required
          />
        </div>

        <div class="mb-3 form-group">
          <button
            class="btn btn-outline-success btn-block"
            [disabled]="!f.valid"
          >
            Actualizar
          </button>
          <button
            class="btn btn-outline-success mx-3 btn-block"
            routerLink="/dashboard"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<ng-template #loggedOut>
  <app-error></app-error>
</ng-template>
