/* .acercaDe .contenedorTexto {
  color: #fff;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.875rem;
  text-align: center;
  width: 80%;
  margin: 2.5rem auto 0 auto;
}

.acercaDe .contenedorTexto .resaltar {
  color: var(--color-principal);
  text-decoration: underline;
}
.acercaDe .contenedorFoto {
  margin-top: -60px;
}

.contenedorFoto img {
  width: 7.1875rem;
  vertical-align: top;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.671);
} */
