<section class="content-educacion row">
  <div class="d-flex justify-content-center mb-5">
    <h3 class="titulo-educacion">Educacion Formal</h3>
  </div>

  <article
    class="col-md-4 col-sm-6 col-12 d-flex justify-content-center mb-5"
    *ngFor="let educacion of educaciones"
  >
    <div class="card">
      <img
        [src]="educacion.imgEdu"
        style="height: 15rem"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{ educacion.institucion }}</h5>
        <div class="desde-hasta d-flex">
          <p>Desde:</p>
          <span class="me-2 ms-2">{{
            educacion.fechaInicio | date : "MM/yy"
          }}</span>
          <p>Hasta:</p>
          <span class="me-2 ms-2">{{
            educacion.fechaFin | date : "MM/yy"
          }}</span>
        </div>
        <p>
          <a
            class="btn btn-colappse-horizontal btn-primary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-secu"
            aria-expanded="false"
            aria-controls="collapse-secu"
          >
            {{ educacion.titulo }}
          </a>
        </p>
      </div>
    </div>
  </article>

  <!-- <article class="col-md-4 col-sm-6 col-12 d-flex justify-content-center mb-5">
    <div class="card">
      <img
        src="../../assets/img/unla.png"
        style="height: 15rem"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Universidad Nacional de Lanus (UNLa)</h5>
        <div class="desde-hasta d-flex">
          <p>Desde:</p>
          <span class="me-2 ms-2"> 2012</span>
          <p>Hasta:</p>
          <span class="me-2 ms-2">2017</span>
        </div>
        <p>
          <a
            class="btn btn-colappse-horizontal btn-primary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-secu"
            aria-expanded="false"
            aria-controls="collapse-secu"
          >
            Licenciatura en nutricion. cursando 3er año.
          </a>
        </p>
      </div>
    </div>
  </article>

  <article class="col-md-4 col-sm-6 col-12 d-flex justify-content-center mb-5">
    <div class="card">
      <img
        src="../../assets/img/ispc.png"
        style="height: 15rem"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">
          Instituto Superior Politecnico Cordoba (I.S.P.C)
        </h5>
        <div class="desde-hasta d-flex">
          <p>Desde:</p>
          <span class="me-2 ms-2"> 2022</span>
          <p>Hasta:</p>
          <span class="me-2 ms-2">Actualidad</span>
        </div>
        <p>
          <a
            class="btn btn-colappse-horizontal btn-primary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-secu"
            aria-expanded="false"
            aria-controls="collapse-secu"
          >
            Tecnicatura en desarrollo web. Cursando 2do año.
          </a>
        </p>
      </div>
    </div>
  </article> -->
</section>
