/* SOFSKILLS */
.card {
  background-color: #00000027;
  box-shadow: 25px 25px 20px -20px #000000;
  color: #fff;
}
/* .progress .gest-tiempo {
  background-color: #afe0ce;
}
.progress .comunicacion {
  background-color: #d7b8f3;
}
.progress .trab-grupo {
  background-color: #5c80bc;
}
.progress .cap-res {
  background-color: #ffc145;
}
.progress .cratividad {
  background-color: #104547;
} */

hr {
  color: #00acee;
  box-shadow: 0px 0px 15px 5px #00acee;
}
/* SOFSKILLS */
.card {
  background-color: #00000027;
  box-shadow: 25px 25px 20px -20px #000000;
  color: #fff;
}
/* .progress .gest-tiempo {
  background-color: #afe0ce;
}
.progress .comunicacion {
  background-color: #d7b8f3;
}
.progress .trab-grupo {
  background-color: #5c80bc;
}
.progress .cap-res {
  background-color: #ffc145;
}
.progress .cratividad {
  background-color: #104547;
} */

hr {
  color: #00acee;
  box-shadow: 0px 0px 15px 5px #00acee;
}
