h3,
label,
input {
  color: #fff;
}

.textarea {
  resize: none;
}

/* BOTONES DE GUARDAR  */
.btn-primary {
  /* border: 0.13rem solid #ff6143; */
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--color-secundario);
  --bs-btn-border-color: var(--color-secundario);
  --bs-btn-hover-color: rgb(255, 255, 255);
  --bs-btn-hover-bg: var(--color-secundario);
  --bs-btn-hover-border-color: var(--color-secundario);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--color-secundario);
  --bs-btn-active-border-color: var(--color-secundario);
  --bs-btn-active-shadow: var(--color-secundario);
  --bs-btn-disabled-color: var(--color-secundario);
  --bs-btn-disabled-bg: var(--color-secundario);
  --bs-btn-disabled-border-color: var(--color-secundario);
}

.btn-primary:hover {
  box-shadow: 0px 0px 12px -1px var(--color-secundario);
}
.btn-danger:hover {
  background: #dc3545;
  box-shadow: 0px 0px 12px -1px #dc3545;
}

.nav {
  --bs-nav-link-color: #fff;
  --bs-nav-link-hover-color: rgb(179, 179, 179);
}
.nav-pills {
  --bs-nav-pills-border-radius: 0.375rem;
  --bs-nav-pills-link-active-color: #002213;
  --bs-nav-pills-link-active-bg: var(--color-secundario);
}

.agregar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 1rem;
  border-radius: 50%;
}

/* formulario*/
.form-control {
  outline: none;
  border: 0.12rem solid var(--color-secundario);
  background-color: transparent;
  color: #ffff;
}
.form-control:focus {
  color: #fff;
  background-color: rgba(179, 179, 179, 0.164);
  border-color: var(--color-secundario);
  outline: 0;
  box-shadow: 0px 0px 12px -1px var(--color-secundario);
}

.contenedor-fechas label {
  margin-right: 0.5rem;
  margin-bottom: 0;
}

/* -------------------------- */
.contenedorFoto img {
  width: 7.1875rem;
  vertical-align: top;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.671);
}

.content-img img {
  border-radius: 0.5rem;
}
.subtitulo {
  color: #fff;
  font-weight: 600;
}

/* ----------- */
input[type="number"] {
  appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}
input[type="number"]::placeholder {
  color: #fff;
}

hr {
  color: #fff;
  opacity: 0.8;
}
